extends layout

block content
  script.
    setInterval(() => {
      fetch('/data').then(res => res.json()).then(data =>{
        console.log(data)
        globalData = data
        $('.data').html((data.html))
        $('.deviceName').html('Live updating from: '+ data.content.app_id)
        $('.lastUpdate').html('Last updated: ' + Date(data.content.metadata.time))
        $('.status').html('Current status: : ')
      })


      // DATA POINTS
      fetch('/data-points').then(res => res.json()).then(data => {
        console.log(data)
        var ctx = document.getElementById('myChart').getContext('2d');
          var myLineChart = new Chart(ctx, {
              type: 'line',
              data: [{
                  x: 10,
                  y: 20
              }, {
                  x: 15,
                  y: 10
              }],
              options: {backgroundColor: 'red'}
          })
        })
    }
    , 1000)

    function getMapUrl () {
      fetch('/data').then(res => res.json()).then(data =>{
        const mapUrl = `https://maps.google.com/maps?q=${data.content.metadata.gateways[0].latitude},${data.content.metadata.gateways[0].longitude}&hl=es&z=14&output=embed`
        console.log({mapUrl})

        $('iframe').attr('src', mapUrl)
      })
    }
    getMapUrl()


  
  h1= "IOT device status"
  h2= 'Data call interval (ms): ' + callInterval
  h2(class='status')= 'Current status: '
  p(class='deviceName')= "Live updating from..." 
  p(class='lastUpdate')= "Last updated: ..." 
  p(class='data')= "fetching..."


  div(style="float:right")
    h2()= "Main gateway location:"
    iframe(
      style="float:right"
      width="500"
      height="300"
      src=""
    ) 
  
  br 
  small
    a (
      href="https://maps.google.com/maps?q='+data.lat+','+data.lon+'&hl=es;z=14&amp;output=embed" 
      style="color:#0000FF;text-align:left" 
      target="_blank"
    ) See map bigger
  canvas(id="myChart" width="400" height="400")
    
