extends layout

block content
  script.
    setInterval(() => {
      fetch('/data').then(res => res.json()).then(data =>{
        globalData = data
        $('.data').html((data.html))
        $('.deviceName').html('Live updating from: '+ data.content.app_id)
        $('.lastUpdate').html('Last updated: ' + Date(data.content.metadata.time))
      }).catch(() => {
        $('.data').html('INTERNAL CONNECTION ERROR')
      })


      // DATA POINTS
      fetch('/data-points').then(res => res.json()).then(data => {
        const dates = data.dates
        const amplitude = data.amplitude

        var avgValue = 0
        var samples = 3
        for(var i = amplitude.length - samples; i < amplitude.length; i++){
          avgValue += amplitude[i]
        }
        avgValue /= samples;
        if(avgValue > 100) {
          
        }

        $('.status').html('Current status: ' + (avgValue > 100 ? 'ON' : 'OFF'))

        new Chart(document.getElementById("myChart"), {
          type: 'line',
          data: {
            labels: dates,
            datasets: [{ 
                data: amplitude,
                label: "Amplitude",
                borderColor: "#3e95cd",
                fill: false,
                pointRadius: 0
              }
            ]
          },
          options: {
            animation: false,
            title: {
              display: true,
              text: 'Washing machine amplitude for the last hour'
            }
          }
        });
      }).catch(() => {
        $('.status').html('Current status: INTERNAL CONNECTION ERROR')
      })
    }
    , 1000)

    function getMapUrl () {
      fetch('/data').then(res => res.json()).then(data =>{
        const mapUrl = `https://maps.google.com/maps?q=${data.content.metadata.gateways[0].latitude},${data.content.metadata.gateways[0].longitude}&hl=es&z=14&output=embed`
        console.log({mapUrl})

        $('iframe').attr('src', mapUrl)
      })
    }
    getMapUrl()


  
  h1= "IOT device status"
  h2= 'Data call interval (ms): ' + callInterval
  h2(class='status')= 'Current status: '
  canvas(id="myChart" width="400" height="200")

  p(class='deviceName')= "Live updating from..." 
  p(class='lastUpdate')= "Last updated: ..." 
  p(class='data')= "fetching..."



  div(style="float:right")
    h2()= "Main gateway location:"
    iframe(
      style="float:right"
      width="500"
      height="300"
      src=""
    ) 

    
